src/main/mule/rmit-facebook-feed.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:os="http://www.mulesoft.org/schema/mule/os" 
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" 
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">


	<flow name="rmit-facebook-feedFlow" doc:id="24f29f18-07b4-4a40-b3f2-9e813126569f" >
		<logger level="INFO" doc:name="Logger" doc:id="17568c5a-a1e9-4fba-822a-b7247d5e36b0" message="Received request for getting feed &lt;=#[attributes.queryParams]&gt; of group #[attributes.uriParams.group_id]"/>
		<set-variable value="${secure::facebook.feed.access.token}" doc:name="Set Access Token" doc:id="f2b50b86-021e-407a-b2ef-f77378c18ad5" variableName="accessToken"/>
		<logger level="INFO" doc:name="Logger" doc:id="36a53088-6633-4824-9ee6-3285c718b0a4" message="access token='#[vars.accessToken]'"/>
		<set-variable value="#[attributes.uriParams.group_id]" doc:name="Set Group ID" doc:id="c17e40e8-4308-4806-bcde-f9b201fcca19" variableName="groupId"/>
		<set-variable value="#[attributes.queryParams.fields]" doc:name="Set query Parameter fields" doc:id="f7ab9078-6c51-4016-8f2e-b7ce37fdf93b" variableName="fields"/>
		<set-variable value="#[attributes.queryParams.limit]" doc:name="Set query parameters limit" doc:id="6564cfe4-fbed-4959-8504-b8eae9f6467d" variableName="limit"/>
			<set-variable value="#[attributes.queryParams.ordered]" doc:name="Set query parameter ordered" doc:id="2f8267b1-19f0-4c92-b070-8de3fdca770f" variableName="ordered"/>
		<http:request method="GET" doc:name="Facebook Feed Request" doc:id="d5ff48f9-5d88-4bea-84a0-76c433ff35b9" config-ref="facebook-feed-api-config" path="/{group_id}/feed">
			<http:uri-params ><![CDATA[#[output applicaton/java
---
{
	"group_id" : vars.groupId
}]]]></http:uri-params>
			<http:query-params><![CDATA[#[output applicaton/java
---
{
	"fields" : vars.fields,
	"limit" : vars.limit,
	"access_token" : vars.accessToken
}]]]></http:query-params>
		</http:request>
		<choice doc:name="Choice" doc:id="97eec425-915c-41e5-b630-bec1d0b70de6" >
			<when expression='vars.ordered == "chronological"' >
				<ee:transform doc:name="Transform Message chronological" doc:id="9015805f-cd6d-4428-9849-7462a2fdb17a" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---

data: payload.data orderBy $.created_time


]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<when expression='vars.ordered == "reverse_chronological"' >
				<ee:transform doc:name="Transform Message reverse-chronological" doc:id="8d041284-00c9-4189-938e-e52ea1d42f46">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---

data: (payload.data orderBy $.created_time)[-1 to 0]

]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
		</choice>
		<ee:transform doc:name="Transform Message" doc:id="e2bca9da-2c2f-4b0f-9315-160ad2864f4a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  id: "ID-"++ p('secure::mule.env') ++ "-" ++ vars.transactionID,
  result: "SUCCESS",
  code: "200",
  application: p('secure::mule.application'),
  provider: p('secure::provider'),
  payload: payload
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="e99e102f-2acd-48bb-964f-40213c9dcf57" message="#[payload]"/>
 		
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="76cbcb53-14f7-4617-9541-9560b3dc4430" >
				<logger level="INFO" doc:name="Logger" doc:id="38e8cc5f-2f5c-4394-91f3-b27eff9180f5" message=" payload=#[error.muleMessage.payload]" />
				<ee:transform doc:name="Transform Message" doc:id="16339ebc-3e56-4588-91a3-2b9365bd22c4">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"id": "ID-" ++ p('secure::mule.env') ++ "-" ++ vars.transactionID ,
	"result": "ERROR",
	"code": error.muleMessage.attributes.statusCode,
	"application" : p('secure::mule.application'),
	"provider" : p('secure::provider'),
	"payload" :  error.description
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-continue>
		</error-handler>
		
	</flow>
</mule>
